#articles {
    color: gray;
    width: 400px;
    padding: 10px;
    border: 1px solid grey;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    margin-top: 30px;
}

#articles ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: left;
}

#ghlogo {
    float: right;
}

#article {
    color: gray;
    width: 550px;
    padding: 10px;
    border: 1px solid grey;
    position: absolute;
    left: 50%;
    margin-left: -275px;
    margin-top: 30px;
}

#article img {
    border: 1px solid grey;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

